.firstNabDiv{
    margin: 0 50px;
}
.navigationForm input{
    background-color: rgba(241, 239, 239, 0.829);
}
.navbarProfile{
    width: 40px;
    border-radius: 20px;
    display: inline-block;
}
.navMainDiv{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#notifyImg {
    margin-right: 50px;
}
#companyName{
    margin-right: 100px;
}

.allItems{
    margin: 0 5px;
}

.commonButton{
    padding: 12px;
    border-radius: 40px;
    background-color: aqua;
    margin-right: 20px;
    border: 1px solid gray;
    
}


.allItems h6{

    color:rgb(43, 95, 95)
}
#leaveAppBtn {
    background-color: blueviolet;
}
#item-2{
color: blueviolet;
}
#bambooBtn{
    background-color: chocolate;
}
#item-3{
    color: chocolate;
}

#kachvanBtn{
    background-color: greenyellow;
}
#item-4{
    color: green;
}
#rejoinBtn{
    background-color: brown;
}
#item-5{
    color: brown;
}
.hrmText{
    color: gray;
    margin: 20px;
}

#sidevarSection li{
    color: rgb(87, 87, 87);
    list-style-type: none;
    border-left: 2px solid gray;
    padding-left: 20px;
    
}
#sidevarSection li:focus{
    color: rgb(6, 121, 167);
    border-left: 4px solid rgb(6, 121, 167);
    
   
    
}

.commonTextStyle{
    color: gray;
  
}

.commonCartDiv div{
    padding: 5px;
    margin: 10px;
    border: 2px solid rgb(243, 234, 234);
    border-radius: 10px;
    transition: transform .2s
}

.commonCartDiv div:hover{
    background-color: black;
    color: white;
    transform: scale(1.05)
}

.commonCardStyle{
    color: rgba(0, 0, 255, 0.651);
}
.cardDetails{
    border: 2px solid rgb(243, 234, 234);
    margin: 10px;
    transition: transform .2s
}
.cardDetails:hover{
    background-color: aquamarine;
    transform: scale(1.05)
}

.cardDetails div:hover{
    color: brown;
}

.card{
    border: 0;
}
.firstCardInfo{
    display: flex;
    justify-content: space-between;
}